mixin picture(data)
	picture.picture
		source(
			srcset="images/"+data.img_320+", images/"+data.img_320+" 2x", 
			media="(max-width: 767px)"
		)
		source(
			srcset="images/"+data.img_1200+", images/"+data.img_1200+" 2x",
			media="(min-width: 1200px)"
		)
		source(
			srcset="images/"+data.img_992+", images/"+data.img_992+" 2x",
			media="(min-width: 992px)"
		)
		source(
			srcset="images/"+data.img_768+", images/"+data.img_768+" 2x",
			media="(min-width: 768px)"
		)
		img(
			src="images/"+data.img, 
			srcset="images/"+data.img+" 2x", 
			alt=""
		)
