mixin picture(data)
	picture.picture
		source(
			srcset="images/"+data.img_320+".png, images/"+data.img_320+"@2x.png 2x", 
			media="(max-width: 767px)"
		)
		source(
			srcset="images/"+data.img_1200+".png, images/"+data.img_1200+"@2x.png 2x",
			media="(min-width: 1200px)"
		)
		source(
			srcset="images/"+data.img_992+".png, images/"+data.img_992+"@2x.png 2x",
			media="(min-width: 992px)"
		)
		source(
			srcset="images/"+data.img_768+".png, images/"+data.img_768+"@2x.png 2x",
			media="(min-width: 768px)"
		)
		img(
			src="images/"+data.img+".png", 
			srcset="images/"+data.img+".png 2x", 
			alt=data.alt
		)
