doctype html
html(lang="en")
	include include/head.pug
	+head('Tim Strebkov – About Me')

	body
		include ../blocks/header/header.pug

		div.container
			div.container-x-small
				div.block780.center
					h1.h2 About Me

					p.lead Hi! I&rsquo;m Tim Strebkov, an&nbsp;Art Director, Product Designer and Design Entrepreneur. My&nbsp;team and I&nbsp;at Strebkov Design have lots of&nbsp;experience in&nbsp;the fintech, data research and education industries, but you&rsquo;ll find that we&nbsp;can lend our skills to&nbsp;virtually any digital product or&nbsp;service that your business might need. 

		div.article-img
			picture
				source(
					srcset="images/about768.jpg, images/about768@2x.jpg 2x", 
					media="(min-width: 768px)"
				)
				source(
					srcset="images/about.jpg, images/about768.jpg 2x", 					
				)
				img(
					src="images/about768.jpg", 
					srcset="images/about768@2x.jpg 2x", 
					alt="Tim Strebkov"
				)

		div.container
			div.container-small
				include ../blocks/page/page.pug

		include ../blocks/bottom/bottom.pug

		include include/script.pug