section.uxdesigntoolkit
	div.uxdesigntoolkit__top
		div.container
			div.row
				div.col-12.col-md-6.col-lg-5.col-xl-5.offset-xl-1
					div.uxdesigntoolkit__text
						h1.h0 The Strebkov Design UX Toolkit™
						p.text-lg-thre Attention fintech founders, CEOs and CTOs! Building a&nbsp;mobile or&nbsp;web app?
						p.text-lg-two Not sure where to&nbsp;start? Download our Fintech Product Design Toolkit to&nbsp;help you plan and build a&nbsp;better app. Includes templates for user personas, empathy maps, feature matrix, POV statements, How Might&nbsp;We.

				div.col-12.col-md-6.col-xl-5.offset-lg-1.offset-xl-0
					include ../get-toolkit/get-toolkit.pug

	div.uxdesigntoolkit__body
		div.container
			div.row
				div.col-12.col-lg-12.col-xl-11
					div.uxdesigntoolkit__img
						picture
							source(
								srcset="images/uxdesigntoolkit__img-320.png, images/uxdesigntoolkit__img-320@2x.png 2x",
								media="(max-width: 767px)"
							)
							source(
								srcset="images/uxdesigntoolkit__img-1200.png, images/uxdesigntoolkit__img-1200@2x.png 2x",
								media="(min-width: 1200px)"
							)
							source(
								srcset="images/uxdesigntoolkit__img-992.png, images/uxdesigntoolkit__img-992@2x.png 2x",
								media="(min-width: 992px)"
							)
							source(
								srcset="images/uxdesigntoolkit__img-768.png, images/uxdesigntoolkit__img-768@2x.png 2x",
								media="(min-width: 768px)"
							)
							img(
								src="images/uxdesigntoolkit__img-1200.png", 
								srcset="images/uxdesigntoolkit__img-1200@2x.png 2x", 
								alt="UpDown.Club"
							)


	div.uxdesigntoolkit__bottom
		div.container
			div.row
				div.col-12.col-md-5.offset-md-1
					footer.footer
						p 2019&nbsp;&copy; Strebkov Design. All rights reserved.