mixin cat-item(data)
	article.cat-item(class!=attributes.class)
		a.cat-item__link(href!=data.link)
			picture.cat-item__bg
				source(
					srcset="images/"+data.img+".png, images/"+data.img+"@2x.png 2x",
					media="(max-width: 767px)"
				)

				source(
					srcset="images/"+data.img+"-768.png, images/"+data.img+"-768@2x.png 2x",
					media="(min-width: 768px)"
				)

				img(
					src="images/"+data.img+"-768.png", 
					srcset="images/"+data.img+"-768@2x.png 2x", 
					alt=data.company
				)

			h3.h3.cat-item__title(class=data.color_company)!=data.title